<!DOCTYPE html>
<html>
    <head>
        <title>Truck Controller</title>
        <link href="/static/buttons.css" rel="stylesheet">
    </head>

    <body>

        <div align="center">
            <form action="/controller" method="post">

                <div class="forward">
                    <input  type="button" onclick="sendCommand(this)" value="Forward" name="button">
                </div>

                <div class="forwardleft">
                    <input type="button" onclick="sendCommand(this)" value="ForwardLeft" name="button">
                </div>

                <div class="forwardright">
                    <input type="button" onclick="sendCommand(this)" value="ForwardRight" name="button">
                </div>

                <div class="reverse">
                    <input type="button" onclick="sendCommand(this)" value="Reverse" name="button">
                </div>

                <div class="reverseleft">
                    <input type="button" onclick="sendCommand(this)" value="ReverseLeft" name="button">
                </div>

                <div class="reverseright">
                    <input type="button" onclick="sendCommand(this)" value="ReverseRight" name="button">
                </div>

                <div class="stop">
                    <input type="button" onclick="sendCommand(this)" value="Stop" name="button">
                </div>

            </form>
        </div>
        <script type="text/javascript">
        function httpGetAsync(buttonPress)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "/controller/" + buttonPress, true); // true for asynchronous
            xmlHttp.send(null);
        }
        function sendCommand(element)
        {
            httpGetAsync(element.value)
        }
        </script>
    </body>
</html>
